<div class="container">
    <mat-card>
        <mat-card-content>
            <h1>Llista d'esdeveniments</h1>
            <button mat-raised-button color="primary" (click)="createMeeting()">Crear</button>
            <table style="margin-top: 30px;">
                <thead style="text-align: left">
                <tr>
                    <th>Títol</th>
                    <th>Lloc</th>
                    <th>Data Inici</th>
                    <th>Data fi</th>
                    <th>Acció</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meeting of meetings">
                    <td>{{meeting.title}}</td>
                    <td>{{meeting.place}}</td>
                    <td>{{meeting.start_date}}</td>
                    <td>{{meeting.end_date}}</td>
                    <td>
                        <button (click)="shareMeeting(meeting.id)" mat-raised-button color="primary" class="btn">Share</button>
                        <button (click)="showMeeting(meeting.id)" mat-raised-button color="primary" class="btn">Info</button>
                        <button (click)="updateMeeting(meeting.id)" mat-raised-button color="accent" class="btn">Editar</button>
                        <button (click)="deleteMeeting(meeting.id)" mat-raised-button color="warn" class="btn">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>
