<div class="container">
    <mat-card class="card mat-elevation-z8">
      <mat-card-content>
        <h1>EDITAR ESDEVENIMENT</h1>
        <p>Edita algun dels camps de l'esdeveniments si ho necessites</p>
        <form (ngSubmit)="editMeeting()" [formGroup]="meetingForm" class="form-group">
            <mat-form-field  class="w-100">
                <input type="title" matInput placeholder="Títol" required [formControl]="title">
            </mat-form-field>
            <div *ngIf="title.errors">
              <span
                style="color: red"
                *ngIf="title.errors && (title.touched || title.dirty)"
              >
                <span *ngIf="title.errors['required']">El nom és requerit</span>
              </span>
            </div>

            <br>
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Lloc" required [formControl]="place">
             </mat-form-field>
             <div *ngIf="place.errors">
              <span
                style="color: red"
                *ngIf="place.errors && (place.touched || place.dirty)"
              >
                <span *ngIf="place.errors['required']">El nom és requerit</span>
              </span>
            </div>

            <br>
            <mat-form-field class="w-100">
                <input type="datetime-local" matInput placeholder="Data inici" required [formControl]="start_date" >
            </mat-form-field>
            <div *ngIf="start_date.errors">
              <span
                style="color: red"
                *ngIf="start_date.errors && (start_date.touched || start_date.dirty)"
              >
                <span *ngIf="start_date.errors['required']">El nom és requerit</span>
              </span>
            </div>
            <br>
            <mat-form-field class="w-100">
                <input type="datetime-local" matInput placeholder="Data fi" required [formControl]="end_date">
            </mat-form-field>
            <div *ngIf="end_date.errors">
              <span
                style="color: red"
                *ngIf="end_date.errors && (end_date.touched || end_date.dirty)"
              >
                <span *ngIf="end_date.errors['required']">El nom és requerit</span>
              </span>
            </div>

            <br>
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Url" required [formControl]="slug">
            </mat-form-field>
            <div *ngIf="slug.errors">
              <span
                style="color: red"
                *ngIf="slug.errors && (slug.touched || slug.dirty)"
              >
                <span *ngIf="slug.errors['required']">El nom és requerit</span>
              </span>
            </div>

            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="!meetingForm.valid">Guardar</button>
            <button class="ml-20" mat-raised-button color="accent" onclick="reset()">Reset</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
