<div class="container">
  <div class="main-content">
    <h1 class="display-1">La manera més fàcil de reunir un grup de persones.</h1>
    <p><i>Nemon</i> et permet crear una enquesta ràpidament per saber quins seran els assistents del teu esdeveniment. Una manera fàcil d'organitzar la teva agenda.</p>
  </div>
  <div class="main-image">
    <img src="assets/having-fun.png">
  </div>
  <div class="card-container">

    <mat-card class="card mat-elevation-z8">
      <mat-icon class="card-icon">list</mat-icon>
        <mat-card-title class="card-title">+ de 1000 esdeveniments</mat-card-title>
      <mat-card-content>
        Pots crear tants esdeveniments com vulguis
      </mat-card-content>
    </mat-card>
    <mat-card class="card mat-elevation-z8">
      <mat-icon class="card-icon">share</mat-icon>
        <mat-card-title class="card-title">Comparteix ràpidament!</mat-card-title>
      <mat-card-content>
        Comparteix amb un click l'esdeveniment amb les teves amistats.
      </mat-card-content>
    </mat-card>
    <mat-card class="card mat-elevation-z8">
      <mat-icon class="card-icon">vertical_split</mat-icon>
        <mat-card-title class="card-title">Llista d'assistens</mat-card-title>
      <mat-card-content>
        Dues llistes per veure qui assistirà i qui no al teu esdeveniment.
      </mat-card-content>
    </mat-card>
  </div>
</div>


