<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>LOGIN</h1>
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form-group">

        <mat-form-field>
          <input type="email" matInput placeholder="Email" required [formControl]="email">
        </mat-form-field>
        <div *ngIf="email.errors">
          <span
            style="color: red"
            *ngIf="email.errors && (email.touched || email.dirty)"
          >
            <span *ngIf="email.errors['required']">Email is required</span>
            <span *ngIf="email.errors['pattern']">Email not a valid format</span>
          </span>
        </div>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" required [formControl]="password">
        </mat-form-field>
        <div *ngIf="password.errors">
          <span
            style="color: red"
            *ngIf="password.errors && (password.touched || password.dirty)"
          >
            <span *ngIf="password.errors['required']">Password is required</span>
            <span *ngIf="password.errors['minlength']"
              >Password must be greater than 8 characters</span
            >
          </span>
        </div>
        <br>
        <span style="color: red">{{error}}</span>

        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

